<a href="https://colab.research.google.com/github/asepmuhidin/mk-python/blob/master/List_tuple_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#daftar siswa
siswa=["Cahyadi","Irul","Atika","Anita","Riki","Adela","Nanda","Adinda"]
print(siswa[2])

Atika

In [2]:
#slicing
print(siswa[2:5])

['Atika', 'Anita', 'Riki']

In [6]:
print(siswa[0])
print(siswa[1])
print(siswa[2])
print(siswa[3])
print(siswa[4])
print(siswa[5])
print(siswa[6])
print(siswa[7])

Cahyadi
Irul
Atika
Anita
Riki
Adela
Nanda
Adinda

In [8]:
for i in range(8):
  print(siswa[i])

Cahyadi
Irul
Atika
Anita
Riki
Adela
Nanda
Adinda

In [9]:
for nama in siswa:
  print(nama)

Cahyadi
Irul
Atika
Anita
Riki
Adela
Nanda
Adinda

In [10]:
siswa[0]="Ovies Cahyadi"
print(siswa)

['Ovies Cahyadi', 'Irul', 'Atika', 'Anita', 'Riki', 'Adela', 'Nanda', 'Adinda']

In [11]:
del siswa[3]
print(siswa)

['Ovies Cahyadi', 'Irul', 'Atika', 'Riki', 'Adela', 'Nanda', 'Adinda']

In [25]:
for i in range(len(siswa)):
  print(f"{i+1}.{siswa[i]}")

1.Ovies Cahyadi
2.Irul
3.Atika
4.Riki
5.Adela
6.Nanda
7.Adinda

In [13]:
print(f"Jumlah siswa adalah {len(siswa)}")

Jumlah siswa adalah 7

In [40]:
siswa_2=["Adam","abdul Mukti","Adi Setiawan"]
all_siswa=siswa+siswa_2
for no,nama in enumerate(all_siswa) :
  print(nama, end=",")

Ovies Cahyadi,Irul,Atika,Riki,Adela,Nanda,Adinda,Adam,abdul Mukti,Adi Setiawan,

In [19]:
nama="Adam"
if nama in all_siswa :
  print(f"Nama {nama} ada dalam daftar siswa")
else:
  print(f"Nama {nama} Tidak ada dalam daftar siswa")

Nama Adam ada dalam daftar siswa

In [20]:
print(nama[3]+nama[2]+nama[1]+nama[0])

madA

In [24]:
#range(start,stop,step)===>range(1,6,1)==>1,2,3,4,5
#range(start,stop,step)===>range(5,0,-1)==>5,4,3,2,1
nama=siswa[0]
nama_terbalik=""
for i in range(len(nama)-1,-1,-1):
  nama_terbalik +=nama[i] 

print(f"Nama {nama} kalau dibalik menjadi {nama_terbalik}")

Nama Ovies Cahyadi kalau dibalik menjadi idayhaC seivO

In [30]:
nama = "Dhaffa Ardhana"
nama_terbalik = nama[::-1]

print(nama_terbalik)

anahdrA affahD

In [31]:
all_siswa

['Ovies Cahyadi',
 'Irul',
 'Atika',
 'Riki',
 'Adela',
 'Nanda',
 'Adinda',
 'Adam',
 'abdul Mukti',
 'Adi Setiawan']

In [32]:
all_siswa.append("Adidarma")
all_siswa

['Ovies Cahyadi',
 'Irul',
 'Atika',
 'Riki',
 'Adela',
 'Nanda',
 'Adinda',
 'Adam',
 'abdul Mukti',
 'Adi Setiawan',
 'Adidarma']

In [33]:
all_siswa.index("Adidarma")

10

In [ ]:
all_siswa.insert(10,"Abdul Aziz")
all_siswa

In [39]:
#tipe data dict
# a={index:value,index1:value1,....}
data_siswa={"nama":"Adidarma","nilai":80,"MK":"Pemrograman"}

print(data_siswa["nama"])
print(data_siswa["nilai"])
print(data_siswa["MK"])

Adidarma
80
Pemrograman

In [41]:
data_siswa={
            "nama"  :["Ovies Cahyadi","Irul","Atika","Riki","Adela"],
            "nilai" :[80,90,50,67,89]}
print(data_siswa)

{'nama': ['Ovies Cahyadi', 'Irul', 'Atika', 'Riki', 'Adela'], 'nilai': [80, 90, 50, 67, 89]}

In [42]:
print(data_siswa["nama"])
print(data_siswa["nilai"])

['Ovies Cahyadi', 'Irul', 'Atika', 'Riki', 'Adela']
[80, 90, 50, 67, 89]

In [45]:
data_siswa["nama"][0]="Ovies"

In [46]:
import pandas as pd
df=pd.DataFrame(data_siswa)
df

    nama  nilai
0  Ovies     80
1   Irul     90
2  Atika     50
3   Riki     67
4  Adela     89