<a href="https://colab.research.google.com/github/asepmuhidin/mk-python/blob/master/looping_game.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#menyelesaikan ax + bx - c = 0

#import module matematika math
import math

a=int(input("Input a?"))
b=int(input("Input b?"))
c=int(input("input c?"))

#mencari HP
d= (b**2)- (4*a*c)

#mencari nilai x
x1=(-b+math.sqrt(d))/ (2*a)
x2=(-b-math.sqrt(d))/ (2*a)

#mencari derteminan
#d=b**2 - (4*a*c)
if d==0:
  jenis="akar kembar"
elif d<0:
  jenis="imajiner"
else :
  jenis="akar riil berlainan" 
  
print("X1= {0} dan X2= {1}".format(x1, x2))
print("Nilai Determinannya adalah", d)
print("Nilai x1,x2 merupakan jenis akar", jenis)

In [4]:
##Perulangan FOR
'''
for i in range(jum_loop):
  statement(s)
'''

for i in range(5) :
  print("{}.hello...".format(i))

0.hello...
1.hello...
2.hello...
3.hello...
4.hello...

In [5]:
'''
start : inclusive end:exclusive
for i in range(start,end,step):
  statement(s)
'''

for i in range(1,5,1):
  print("{}. Hello". format(i))

1. Hello
2. Hello
3. Hello
4. Hello

In [10]:

for i in range(1,5,1):
  print("{} pangkat {}={} ". format(i,i,i**i))

1 pangkat 1=1
2 pangkat 2=4
3 pangkat 3=27
4 pangkat 4=256

In [12]:
'''
Perulangan while
while (kondisi):
  statement(s)
'''
i=1
while (i<5):
  print("{} pangkat {}={} ". format(i,i,i**i))
  i+=1

1 pangkat 1=1
2 pangkat 2=4
3 pangkat 3=27
4 pangkat 4=256

In [13]:
## output : 10 20 30 40
for i in range(10, 41, 10):
    print(i)

10
20
30
40

In [22]:
for i in range(10,50,10):
  print("{}".format(i), end=",")

10,20,30,40,

In [20]:
i = 10
while i <= 40:
    print(i,  end=",")
    i += 10

10,20,30,40,

In [25]:
'''
****
****
****
'''
for z in range(3):
  for i in range(4):
    print("*", end="")
  print()

****
****
****

In [28]:
## output program
'''
*
**
***
****
*****
1
11
111
1111
11111
'''
for num in range(6):
    for i in range(num):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
'''
1   2 3  4  5  6  7
8   9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
'''

In [37]:
from random import randint
acak=randint(1,100)
jawab=False
jumtebak=0
while jawab != True:
  tebakan=int(input("Tebakan angka anda ?"))
  if tebakan > acak :
    print("Tebakan anda terlalu besar..!")
    jumtebak +=1
  elif tebakan < acak :
    print("Tebakan anda terlalu kecil")
    jumtebak +=1
  else :
    print("Selamat anda berhasil menebak")
    jawab=True  

if jawab :
  if jumtebak>=10 :
    grade="Idiot"
  elif jumtebak >=6 :
    grade="Lumayan"
  else :
    grade="Jenius"      
print ("Anda {}, menebak sebanyak {} kali". format(grade,jumtebak))

Tebakan angka anda ?50
Tebakan anda terlalu besar..!
Tebakan angka anda ?25
Tebakan anda terlalu besar..!
Tebakan angka anda ?15
Tebakan anda terlalu kecil
Tebakan angka anda ?20
Tebakan anda terlalu kecil
Tebakan angka anda ?23
Tebakan anda terlalu besar..!
Tebakan angka anda ?22
Tebakan anda terlalu besar..!
Tebakan angka anda ?21
Selamat anda berhasil menebak
Anda Lumayan, menebak sebanyak 6