<a href="https://colab.research.google.com/github/asepmuhidin/mk-python/blob/master/OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
'''
Membuat kelas employee dengan attribute name dan salary
'''
class Employee:
  empCount=0

  def __init__(self,name,salary=4700000):
    self.name=name
    self.salary=salary
    Employee.empCount +=1

  def displayCount(self):
    print(f"Jumlah karyawan adalah {Employee.empCount}")  

  def displayEmployee(self):
    print(f"Nama karyawan adalah {self.name}")  

  def salaryAfterPPH(self):
    return self.salary-(self.salary*0.1)

In [69]:
#Menciptakan objek dari kelas employee dengan nama objek emp1
emp1=Employee("Riki Supriyatna",5100000)

In [70]:
#Mengakses attribute name dari objek emp1
print(f"Nama karyawan ke-1 adalah {emp1.name}")

Nama karyawan ke-1 adalah Riki Supriyatna

In [71]:
#Mengakses attribute salary dan name dari objek emp1
print(f"Nama karyawan ke-1 adalah {emp1.name} dengan salary {emp1.salary:,}")

Nama karyawan ke-1 adalah Riki Supriyatna dengan salary 5,100,000

In [72]:
emp2=Employee("Anita Novianti",6500000)

In [73]:
#Mengakses variabel empCount kelas employee 
print(f"Jumlah karyawan adalah {Employee.empCount}")

Jumlah karyawan adalah 2

In [74]:
emp3=Employee("Ridwan Hidayat")

In [75]:
#Mengakses attribute salary dan name dari objek emp3
print(f"Nama karyawan ke-1 adalah {emp3.name} dengan salary {emp3.salary:,}")

Nama karyawan ke-1 adalah Ridwan Hidayat dengan salary 4,700,000

In [76]:
#Mengakses attribute salary dan name dari objek emp2
print(f"Nama karyawan ke-1 adalah {emp2.name} dengan salary {emp2.salary:,}")

Nama karyawan ke-1 adalah Anita Novianti dengan salary 6,500,000

In [77]:
#Mengupdate nilai atribut dari sebuah objek emp3
emp3.salary=7000000

In [78]:
#Mengakses attribute salary dan name dari objek emp3
print(f"Nama karyawan ke-1 adalah {emp3.name} dengan salary {emp3.salary:,}")

Nama karyawan ke-1 adalah Ridwan Hidayat dengan salary 7,000,000

In [79]:
#Mengakses method displayCount
emp3.displayCount()

Jumlah karyawan adalah 3

In [80]:
#Mengakses method displayEmployee
emp1.displayEmployee()
emp2.displayEmployee()
emp3.displayEmployee()

Nama karyawan adalah Riki Supriyatna
Nama karyawan adalah Anita Novianti
Nama karyawan adalah Ridwan Hidayat

In [82]:
print(f"Gaji pokok adalah {emp1.salary:,}, setelah dipotong PPH menjadi {emp1.salaryAfterPPH():,}")

Gaji pokok adalah 5,100,000, setelah dipotong PPH menjadi 4,590,000.0