<a href="https://colab.research.google.com/github/asepmuhidin/mk-python/blob/master/SESI_14_pemograman1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# \*args dan **args
## Apa itu *args ??
### *args adalah variabel dengan kemampuan menginput nilai yang banyak dalam bentuk tuple. perhatikan contoh fungsi berikut.

In [4]:
#dengan variabel biasa (nama)
def helo(nama):
  print(nama)

#dengan variabel *args (*nama)
def hello(*nama):
  print(nama)

##panggil fungsi
helo("Dani")
hello("Dani","Susi","Dian","Agus")

Dani
('Dani', 'Susi', 'Dian', 'Agus')

In [5]:
#contoh lain menghitung nilai rata
def nilai_rata2(*nilai):
  return sum(nilai)/len(nilai)

#Panggil fungsi
avg=nilai_rata2(2,3,4,5,6)
print(f"Nilai rata-rata adalah {avg} ")

Nilai rata-rata adalah 4.0

## Apa itu **args ??
### **args adalah variabel dengan kemampuan menginput nilai yang banyak dengan bentuk dictionary. perhatikan contoh fungsi berikut.

In [17]:
##fungsi biasa  
def profile(nama,alamat,email):
  print(f"Nama :{nama}\nAlamat :{alamat}\nEmail :{email}")

profile("Alesha","Bekasi","alesha@gmail.com")

Nama :Alesha
Alamat :Bekasi
Email :alesha@gmail.com

In [28]:
##fungsi dengan **args
def profile1(**data):
  print(data)
  
profile1(nama="Alesha Yumna",alamat="Cikarang", email="alesha@gmail.com")

{'nama': 'Alesha Yumna', 'alamat': 'Cikarang', 'email': 'alesha@gmail.com'}

In [30]:
##Fungsi dengan **args dan menampilkan index dict
def profile2(**data):
  for k,v in data.items():
    print(f"{k}: {v}")


  
profile2(nama="Alesha Yumna",alamat="Cikarang", email="alesha@gmail.com")

nama: Alesha Yumna
alamat: Cikarang
email: alesha@gmail.com

In [34]:
#Bahkan kita bisa sesuka kita memasukan data variabel dan isinya, contoh
profile2(EmpName="Mahendratama", Salary=120000000,Jabatan="Presiden Direktur")

EmpName: Mahendratama
Salary: 120000000
Jabatan: Presiden Direktur

# TUGAS
##Buat contoh program yang memanfaatkan variabel *args dan **args. Tidak boleh sama dengan yang di atas.